/* Coolors Exported Palette - https://coolors.co/9e6240-dea47e-cd4631-f8f2dc-81adc8-22223b-4a4e69 */

/* CSS HEX */
--raw-umber: #9e6240ff;
--buff: #dea47eff;
--jasper: #cd4631ff;
--eggshell: #f8f2dcff;
--carolina-blue: #81adc8ff;
--space-cadet: #22223bff;
--ultra-violet: #4a4e69ff;

/* CSS HSL */
--raw-umber: hsla(22, 42%, 44%, 1);
--buff: hsla(24, 59%, 68%, 1);
--jasper: hsla(8, 61%, 50%, 1);
--eggshell: hsla(47, 67%, 92%, 1);
--carolina-blue: hsla(203, 39%, 65%, 1);
--space-cadet: hsla(240, 27%, 18%, 1);
--ultra-violet: hsla(232, 17%, 35%, 1);

/* SCSS HEX */
$raw-umber: #9e6240ff;
$buff: #dea47eff;
$jasper: #cd4631ff;
$eggshell: #f8f2dcff;
$carolina-blue: #81adc8ff;
$space-cadet: #22223bff;
$ultra-violet: #4a4e69ff;

/* SCSS HSL */
$raw-umber: hsla(22, 42%, 44%, 1);
$buff: hsla(24, 59%, 68%, 1);
$jasper: hsla(8, 61%, 50%, 1);
$eggshell: hsla(47, 67%, 92%, 1);
$carolina-blue: hsla(203, 39%, 65%, 1);
$space-cadet: hsla(240, 27%, 18%, 1);
$ultra-violet: hsla(232, 17%, 35%, 1);

/* SCSS RGB */
$raw-umber: rgba(158, 98, 64, 1);
$buff: rgba(222, 164, 126, 1);
$jasper: rgba(205, 70, 49, 1);
$eggshell: rgba(248, 242, 220, 1);
$carolina-blue: rgba(129, 173, 200, 1);
$space-cadet: rgba(34, 34, 59, 1);
$ultra-violet: rgba(74, 78, 105, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #9e6240ff, #dea47eff, #cd4631ff, #f8f2dcff, #81adc8ff, #22223bff, #4a4e69ff);
$gradient-right: linear-gradient(90deg, #9e6240ff, #dea47eff, #cd4631ff, #f8f2dcff, #81adc8ff, #22223bff, #4a4e69ff);
$gradient-bottom: linear-gradient(180deg, #9e6240ff, #dea47eff, #cd4631ff, #f8f2dcff, #81adc8ff, #22223bff, #4a4e69ff);
$gradient-left: linear-gradient(270deg, #9e6240ff, #dea47eff, #cd4631ff, #f8f2dcff, #81adc8ff, #22223bff, #4a4e69ff);
$gradient-top-right: linear-gradient(45deg, #9e6240ff, #dea47eff, #cd4631ff, #f8f2dcff, #81adc8ff, #22223bff, #4a4e69ff);
$gradient-bottom-right: linear-gradient(135deg, #9e6240ff, #dea47eff, #cd4631ff, #f8f2dcff, #81adc8ff, #22223bff, #4a4e69ff);
$gradient-top-left: linear-gradient(225deg, #9e6240ff, #dea47eff, #cd4631ff, #f8f2dcff, #81adc8ff, #22223bff, #4a4e69ff);
$gradient-bottom-left: linear-gradient(315deg, #9e6240ff, #dea47eff, #cd4631ff, #f8f2dcff, #81adc8ff, #22223bff, #4a4e69ff);
$gradient-radial: radial-gradient(#9e6240ff, #dea47eff, #cd4631ff, #f8f2dcff, #81adc8ff, #22223bff, #4a4e69ff);